<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>HOME</title>     
</head>
<body>
    <div class="page-wrapper">
    <h1>HOME PAGE</h1>
    
    <!-- <h2>   <%= jwt %>     </h2>
    <h2> <%= users.length %>  </h2> -->

    <div class="content-wrapper">

           <div class="chats-wrapper-grid">

            <% for(let i=0; i < users.length; i++){%> 


                      <div class="one-chat-grid"  data-user_id=<%= users[i]._id %> >
                           <div class="img-div p-one-chat-grid"></div>
                           <div class="username-chat p-one-chat-grid"><%= users[i].username %> </div>
                           <div class="time-chat p-one-chat-grid"></div>
                      </div>

                <%  } %> 
           </div>

    </div>


</div>

<script src="js/home-script.js"></script>
</body>
</html>