<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <title>HOME</title>     
</head>
<body>
    <div class="page-wrapper">
    <h1 class="h1-header">You chats with other users</h1>
    
    <div class="logout" id="logout-btn">Log out</div>

    <div class="content-wrapper">

           <div class="chats-wrapper-grid">

            <% for(let i=0; i < users.length; i++){%> 
                   
               <% if(users[i]._id != user._id){ %> 
                       <!-- <h1><%= users[i]._id %> </h1>
                       <h3><%= user._id %> </h3> -->
                      <div class="one-chat-grid"  data-user_id=<%= users[i]._id %> >
                           <div class="img-div p-one-chat-grid"></div>
                           <div class="username-chat p-one-chat-grid"><%= users[i].username %> </div>
                           <div class="time-chat p-one-chat-grid"></div>
                      </div>
                <%}  } %> 
           </div>

    </div>


</div>

<script src="js/home-script.js"></script>

</body>
</html>