<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>

<body>

    <div class="page-wrapper">

        <!-- <h1>LOG IN TO CHAT</h1> -->


        <form action="/login" method="POST">
            <div class="input-wrapper-grid">
                <div class="grid-inputs">
                    <div class="username-input-holder input_holder">
                        <input type="text" required name="username" class="input-class left" placeholder="Username">
                    </div>
                    <div class="password-input-holder input_holder">
                        <input type="password" required name="password" class="input-class right"
                            placeholder="Password">
                    </div>
                </div>
                <div class="grid-submit">
                    <input type="submit" value="LOG IN" class="submit-class">
                </div>
            </div>
        </form>
        <p class="message-temp">
            <%= statuses.jwt %>
        </p>
        <p class="message-temp">
            <%= statuses.login %>
        </p>


        <div class="explanation-wrapper">

            <div class="explanation-div">

                <span class="span-how-to">How to use app?</span>
                <br>
                <img class="img-explanation" id="img-exp"
                    src="https://cdn.iconscout.com/icon/premium/png-256-thumb/question-2449908-2063813.png"
                    alt="click here">

            </div>
        </div>

    </div>



    <div id="overlay">

        <section class="explanation-text">

            <section>You should log in with on of existing accounts:</section>
            <br>
            username: <b>John</b><br>
            password: <b>John123</b>
            <br><br>
            username: <b>Jennifer</b><br>
            password: <b>Jennifer123</b>
            <br><br>
            username: <b>Richard</b><br>
            password: <b>Richard123</b>
            <br><br>
            username: <b>Mark</b><br>
            password: <b>Mark123</b>
            <br><br>
            username: <b>Helen</b><br>
            password: <b>Helen123</b>
            <br><br>
            After you have done that, log into another of listed accounts, but this time use another device.
            <br><br>
            When you are on Home page on first device, click on username of User you want to chat with. Repeat same
            thing on other device.
            <br><br>
            EXAMPLE <br>
            First device: log in using username John and click on chat with Helen.<br>
            Second device: log in using username Helen and click on chat with John. <br>
            Now you can CHAT :)
        </section>

    </div>


    <script src="./js/login-script.js"></script>
</body>

</html>