body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    color:white;

}
html{
    background-image: url("https://images.pexels.com/photos/169789/pexels-photo-169789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
}

.content-wrapper{
    width:100%;
    height:100%;

}

.chats-wrapper-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.one-chat-grid{
    min-height: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    cursor: pointer;
    background-color: #1e2f8d3f;
    transition: all 0.7s;
    font-size:large;

}
.one-chat-grid:hover{
    background-color: #090f355d;
}

.h1-header{
    text-align:center;
}

.p-one-chat-grid{
    display:flex;
    align-items:center;
    font-size:x-large;
}
